<section class="thirteen columns">
    <h1>Formação Acadêmica</h1>
    <article>
        <header>
            <h1>Bacharel em Sistemas de Informação</h1>
            <span>UFS - Universidade Federal de Sergipe</span>
            <span><address>Itabaiana, SE</address><time>2019 até 2014</time></span>
        </header>
        <p>
            <em>TCC: Mineração de Texto Aplicada à Auditorial Gorvernamental.</em>
        </p>
        <p>
            <em>Publicações: <a href="https://aisel.aisnet.org/cgi/viewcontent.cgi?article=1088&context=sbis2015">Comparing Text Mining Algorithms for Predicting
                    Irregularities in Public Accounts</a> </em>
        </p>
    </article>
    <article>
        <header>
            <h1>Técnico em Desenvolvimento de Sistemas de Informação</h1>
            <span>IFS - Instituto Federal de Sergipe</span>
            <span><address>Lagarto, SE</address><time>2007 até 2009</time></span>
        </header>
        <p>
            <em>TCC: Projeto Automação Comercial.</em>
        </p>
    </article>
</section>
