<section class="thirteen columns">
    <h1>Experiência Profissional</h1>
    <article>
        <header>
            <h1>Analista de Sistemas - Spassu</h1>
            <span><address>Patrobras, Aracaju, SE</address><time>2018 até o momento</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Analista de Sistemas - Stefanini</h1>
            <span><address>Aracaju, SE</address><time>2016 - 2018</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Analista de Sistemas - Stefanini</h1>
            <span><address>Patrobras, Aracaju, SE</address><time>2014 to 2016</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Estagiário Business Intelligence - TCE</h1>
            <span><address>Universidade Federal Sergipe, Itabaiana, SE</address><time>2013</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1> Estagiário Tester - Infox </h1>
            <span><address>Universidade Federal Sergipe, Itabaiana, SE</address><time>2011 - 2011</time></span>
        </header>
        <p> 
        </p>
    </article>
    <article>
        <header>
            <h1> Desenvolvedor de Software Jr. - Itatech Jr. </h1>
            <span>
                <address>Universidade Federal Sergipe, Itabaiana, SE</address><time>2011 - 2011</time>
            </span>
        </header>
        <p>
            Itatech Jr é a Empresa Júnior da Universidade Federeal de Sergipe, campus Itabaiana.
        </p>
    </article>
</section>
