<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Desenvolvimento de Software</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Java, JavaScript, Angular</em> &amp; <em>Git</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS</em>, <em>Python</em>, <em>kotlin</em> &amp; <em>SQL</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Vuejs, Golang, Dart, Flutter &amp; <em>...</em></em>
        </p>
    </article>
</section>